{
  "rules": {
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "indent": [2, 2],
    "no-console": 0,
    "no-var": "error",
    "no-unused-vars": "error",
    "comma-dangle": ["error", "never"],
    "no-func-assign": 0,
    "no-constant-condition": 0,
    "no-unsafe-finally": 0,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "curly": [2, "multi", "consistent"],
    "eol-last": [2, "unix"],
    "eqeqeq": ["error", "allow-null"],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }
    ]
  },
  "globals": {
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "jasmine": false,
    "spyOn": false,
    "it": false,
    "expect": false
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "experimentalObjectRestSpread": true
  }
}
